.navbar-nav{
    margin-left: auto;
}

h2{
    text-align: center;
}

a{
    font-style: oblique;
}

.para{
    float: right; 
    width: 50%; 
    margin-left: 10px; 
}

figure {
    float: left; 
    margin-right: 20px;
    size: 30%; 
}

.ojuju {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.navbar-nav .nav-link:hover{
    background-color: #367a8d;
    color: #ffffff;
}